@model SoundTrack.ViewModel.UserViewModel

<div class="modal fade" id="forgetPasswordAdminModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="forgotPassAdminModalLabel">Forgot Password</h5>
                <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <form id="forgetAdminPasswordForm">
                    <div class="form-group">
                        <label for="uName" class="col-form-label">Email:</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "adminEmailFP", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <button type="button" class="btn btn-primary" id="forgotPasswordAdminBtn">Submit</button>
                    <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
                </form>
                <form style="display:none" id="OtpAdminSection">
                    <div class="form-group">
                        <label for="uName" class="col-form-label">OTP :</label>
                        <input type="text" class="form-control" id="UserAdminOTP" placeholder="Enter OTP">
                        <span class="field-validation-valid"></span>
                    </div>
                    <button type="button" class="btn btn-primary" id="OtpBtn">Submit</button>
                    <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
                </form>
            </div>
            <input type="hidden" id="forgorPassAdminHF" value="">
            <input type="hidden" id="forgorPassAdminEmailHF" value="">
        </div>
    </div>
</div>
