<div id="MembershipSection" style="display:none;">
    <span class="d-flex justify-content-center h3 bg-light py-2"> Membership Request</span>

    <table class="table table-striped" id="MembershipTable" style="width:100%">
        <thead>
            <tr>
                @*<th></th>*@
                <th>Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Membership Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
