@model SoundTrack.ViewModel.UserViewModel

<div class="modal fade" id="changePasswordModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="changePassModalLabel">Change Password</h5>
                <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light">
                <form id="changePasswordForm">
                    <div class="form-group">
                        <label for="changePass" class="col-form-label">Password:</label>
                        @*<input type="password" class="form-control" id="changePass" placeholder="Enter Your Password">*@
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "changePass", placeholder = "Enter Your Password",type="password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <label for="ReEnterPass" class="col-form-label">ReEnter Password :</label>
                        @*<input type="password" class="form-control" id="ReEnterPass" placeholder="ReEnter Your Password">*@
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ReEnterPass", placeholder = "ReEnter Your Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="userChangePassBtn">Submit</button>
                <button type="button" class="btn btn-secondary closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
